__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.venv/
env/
.env
pip-log.txt
pip-delete-this-directory.txt

*.egg-info/
*.egg
*.whl
dist/
build/
site-packages/

.idea/
.vscode/
*.iml

*.log
*.out
*.pid
*.swp
*.swo
*.swn
*.bak

.ipynb_checkpoints/

.coverage
.tox/
.nox/
htmlcov/


.github/
.gitlab-ci.yml


.DS_Store
Thumbs.db

__pycache__/
*.pyc
*.pyo
*.pyd


poetry.lock
.mypy_cache/
.dmypy.json
ruff_cache/
data/